.h3{
    background-color: beige;
    background-image: url(https://images.pexels.com/photos/552789/pexels-photo-552789.jpeg?auto=compress&cs=tinysrgb&w=600);
}

.heading{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color:azure;
    text-align: center;
}

.center{
    text-align: center;
    color:rgb(134, 217, 203);
}

.parahgraph{
    text-align: center;
    color:azure;
}